<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Registros en SPA</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li *ngFor="let persona of personaArray" class="list-group-item list-group-item-action">
          {{ persona.nombres }} {{ persona.apellidos }} - {{ persona.documento }} - {{ persona.lugarresidencia }} - {{ persona.fechanacimiento }} - {{ persona.email }} - {{ persona.telefono }} - {{ persona.usuario }}
        </li>
      </ul>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Ingresa una persona
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.nombres" placeholder="Ingrese los nombres" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.apellidos" placeholder="Ingrese los apellidos" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.idtipodocumento" placeholder="Ingrese el tipo de documento" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.documento" placeholder="Ingrese el documento" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.lugarresidencia" placeholder="Ingrese el lugar de residencia" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.fechanacimiento" placeholder="Ingrese la fecha de nacimiento" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.email" placeholder="Ingrese el email" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.telefono" placeholder="Ingrese el telefono" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.usuario" placeholder="Ingrese el usuario" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.password" placeholder="Ingrese la contrasena" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>